Repository hung4564/vue-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,html,vue}": ["eslint --fix", "prettier --write"],
  "*.{svg,yml,md,json,css,scss}": ["prettier --write"]
}

feat: list, aside control
  apps/demo-manga/src/views/home.vue
  apps/demo-map/src/layout/aside-control.vue
  apps/demo-map/src/views/AllMapView.vue
  apps/demo-map/src/views/BaseMapControl/example.vue
  apps/demo-map/src/views/Draw/example.vue
  apps/demo-map/src/views/LayerControl/example.vue
  apps/demo-map/src/views/Measurement/example.vue
  libs/map/core/src/components/MapControlGroupButton.vue
  libs/map/core/src/hooks/useShow.ts
  libs/map/core/src/store/store.ts
  libs/map/layer/src/modules/LayerControl.vue
  libs/share/shared/src/index.ts
  libs/share/shared/src/propsFactory/index.md
  libs/share/shared/src/propsFactory/index.ts
  libs/ui/core/src/components/VBtn/VBtn.vue
  libs/ui/core/src/components/VList/VList.scss
  libs/ui/core/src/components/VList/VList.ts
  libs/ui/core/src/components/VList/VListItem.ts
  libs/ui/core/src/components/VList/index.ts
  libs/ui/core/src/components/index.ts
  libs/ui/core/src/composables/component.ts
  libs/ui/core/src/composables/loader.ts
  libs/ui/core/src/composables/rounded.ts
  libs/ui/core/src/composables/size.ts
  libs/ui/core/src/composables/tag.ts
  libs/ui/core/src/composables/variant.ts
  libs/ui/core/src/styles/local/mixins/_wrapper.scss
  libs/ui/core/src/styles/local/mixins/mixins.scss
  libs/ui/core/src/styles/local/variables.scss
Due: eslint --fix, prettier --write

feat: editor io custom
  apps/demo-map/src/router/index.ts
  apps/demo-map/src/views/GeojsonIo/geojsonIoLayer.vue
  apps/demo-map/src/views/GeojsonIo/index.vue
  apps/demo-map/src/views/GeojsonIo/layer/GeojsonIOLayer.ts
  libs/share/shared/metadata/metadata.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: dataset
  libs/map/dataset/.eslintrc.json
  libs/map/dataset/README.md
  libs/map/dataset/package.json
  libs/map/dataset/project.json
  libs/map/dataset/src/index.ts
  libs/map/dataset/src/lib/dataset.ts
  libs/map/dataset/tsconfig.json
  libs/map/dataset/tsconfig.lib.json
  libs/map/dataset/vite.config.ts
  nx.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: init dataset
  apps/demo-map/src/router/index.ts
  apps/demo-map/src/views/test.vue
  libs/map/core/src/types/layer.ts
  libs/map/dataset/src/index.ts
  libs/map/dataset/src/interfaces/dataset.base.ts
  libs/map/dataset/src/interfaces/dataset.handler.ts
  libs/map/dataset/src/interfaces/dataset.map.ts
  libs/map/dataset/src/interfaces/dataset.visitor.ts
  libs/map/dataset/src/interfaces/part-list-view-ui.interface.ts
  libs/map/dataset/src/lib/dataset.ts
  libs/map/dataset/src/model/base.ts
  libs/map/dataset/src/model/dataset.base.ts
  libs/map/dataset/src/model/dataset.handler.ts
  libs/map/dataset/src/model/dataset.visitors.ts
  libs/map/dataset/src/model/part-list-view-ui.model.ts
  libs/map/dataset/src/parts/dataset.handlers.ts
Due: eslint --fix, prettier --write

feat: init layer control
  .gitignore
  apps/demo-map/src/views/GeojsonIo/geojsonIoLayer.vue
  apps/demo-map/src/views/test.vue
  libs/map/dataset/.eslintrc.json
  libs/map/dataset/src/index.ts
  libs/map/dataset/src/interfaces/dataset.base.ts
  libs/map/dataset/src/interfaces/dataset.map.ts
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/interfaces/part-list-view-ui.interface.ts
  libs/map/dataset/src/model/dataset.base.ts
  libs/map/dataset/src/model/dataset.visitors.ts
  libs/map/dataset/src/model/index.ts
  libs/map/dataset/src/model/part-list-view-ui.model.ts
  libs/map/dataset/src/model/part-mapbox-layer.model.ts
  libs/map/dataset/src/model/part-mapbox-source.model.ts
  libs/map/dataset/src/modules/LayerControl/LayerControl.vue
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list-group.vue
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list-item.vue
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerList.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item-icon.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item-slider.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/index.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/menu-divider.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/menu-item.vue
  libs/map/dataset/src/modules/index.ts
  libs/map/dataset/src/shims-vue.d.ts
  libs/map/dataset/src/store/index.ts
  libs/map/dataset/src/types/vue-icon.d.ts
  libs/map/dataset/src/utils/check.ts
  libs/map/dataset/tsconfig.json
  libs/map/dataset/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: add identify
  apps/demo-map/src/layout/aside-control.vue
  apps/demo-map/src/views/LayerControl/custom-button.vue
  apps/demo-map/src/views/LayerControl/custom-change-icon.vue
  apps/demo-map/src/views/test.vue
  libs/map/core/src/modules/CrsControl/CrsControl.vue
  libs/map/core/src/modules/MouseCoordinatesControl/MouseCoordinatesControl.vue
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/model/dataset.visitors.ts
  libs/map/dataset/src/model/index.ts
  libs/map/dataset/src/model/part-identify.model.ts
  libs/map/dataset/src/model/part-mapbox-layer.model.ts
  libs/map/dataset/src/modules/IdentifyControl/IdentifyControl.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/index.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-divider.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-item.vue
  libs/map/dataset/src/modules/LayerControl/LayerControl.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerList.vue
  libs/map/dataset/src/modules/index.ts
Due: eslint --fix, prettier --write

feat: add identify, detail
  apps/demo-map/src/views/test.vue
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/interfaces/index.ts
  libs/map/dataset/src/model/dataset.base.ts
  libs/map/dataset/src/model/dataset.visitors.ts
  libs/map/dataset/src/model/index.ts
  libs/map/dataset/src/model/part-data-management,model.ts
  libs/map/dataset/src/model/part-identify.model.ts
  libs/map/dataset/src/model/part-list-view-ui.model.ts
  libs/map/dataset/src/model/part-metadata.model.ts
  libs/map/dataset/src/modules/ComponentManagementControl/ComponentManagementControl.vue
  libs/map/dataset/src/modules/IdentifyControl/IdentifyControl.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-divider.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-item.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerList.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/index.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/menu-divider.vue
  libs/map/dataset/src/modules/LayerControl/part/item/menu/menu-item.vue
  libs/map/dataset/src/modules/LayerDetail/LayerDetail.vue
  libs/map/dataset/src/modules/LayerDetail/table-td-copy.vue
  libs/map/dataset/src/modules/LayerDetail/table-td-layer.vue
  libs/map/dataset/src/modules/index.ts
  libs/map/dataset/src/store/component.ts
  libs/map/dataset/src/store/index.ts
  libs/share/map/src/fillBound/index.ts
Due: eslint --fix, prettier --write

feat: add get data
  apps/demo-manga/src/views/part/view-chap-normal.vue
  apps/demo-map/src/views/test.vue
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/model/part-data-management,model.ts
  libs/map/dataset/src/model/part-identify.model.ts
  libs/map/dataset/src/model/part-mapbox-layer.model.ts
  libs/map/dataset/src/model/part-mapbox-source.model.ts
  libs/map/dataset/src/modules/IdentifyControl/IdentifyControl.vue
  libs/map/dataset/src/modules/LayerDetail/LayerDetail.vue
  libs/map/dataset/src/modules/LayerHighlight/LayerHighlight.vue
  libs/map/dataset/src/modules/index.ts
  libs/map/dataset/src/store/highlight.ts
  libs/map/dataset/src/store/index.ts
  libs/map/layer/src/builder/build/map/builder.ts
Due: eslint --fix, prettier --write

fix: change import
  apps/demo-map/src/views/test.vue
  libs/map/dataset/README.md
  libs/map/dataset/project.json
  libs/map/dataset/src/index.ts
  libs/map/dataset/src/utils/layer-simple-builder.ts
  libs/map/dataset/vite.config.ts
  libs/map/draw/vite.config.ts
Due: eslint --fix, prettier --write

fix: build
  nx.json
Due: prettier --write

fix: lint
  libs/map/dataset/package.json
  libs/ui/core/package.json
Due: prettier --write

feat: add handle for card container
  apps/demo-draggable/src/app/App.vue
  apps/demo-draggable/src/app/customCard.vue
  apps/demo-draggable/src/app/customCardHeader.vue
  libs/draggable/src/components/MapIcon.vue
  libs/draggable/src/components/draggable/item-bottom.vue
  libs/draggable/src/components/draggable/item-float.vue
  libs/draggable/src/components/draggable/item-popup.vue
  libs/draggable/src/components/draggable/item-sidebar.vue
  libs/draggable/src/components/parts/MapButton.vue
  libs/draggable/src/components/parts/MapCard.vue
  libs/draggable/src/components/parts/MapHeader.vue
  libs/draggable/src/components/parts/MapSidebarToggle.vue
  libs/draggable/src/hook/index.ts
  libs/draggable/src/hook/useComponent.ts
  libs/draggable/src/hook/useShare.ts
  libs/draggable/src/index.ts
  libs/draggable/src/store/index.ts
  libs/draggable/src/store/store.ts
Due: eslint --fix, prettier --write

fix: add .gitignore
  .gitignore
Due: none

chore(release): publish
  libs/draggable/CHANGELOG.md
  libs/draggable/package.json
Due: prettier --write

fix: nx
  nx.json
Due: prettier --write

chore(release): publish
  libs/content-menu/CHANGELOG.md
  libs/content-menu/package.json
  libs/router/CHANGELOG.md
  libs/router/package.json
Due: prettier --write

chore(release): publish
  libs/map/core/CHANGELOG.md
  libs/map/core/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/share/core/CHANGELOG.md
  libs/share/core/package.json
  libs/share/shared/CHANGELOG.md
  libs/share/shared/package.json
  libs/ui/core/CHANGELOG.md
  libs/ui/core/package.json
Due: prettier --write

fix: build
  libs/map/basemap/vite.config.ts
  libs/map/core/vite.config.ts
  libs/map/draw/vite.config.ts
  libs/map/layer/vite.config.ts
  libs/map/measurement/vite.config.ts
  libs/map/print/vite.config.ts
  libs/router/package.json
  libs/share/core/vite.config.ts
  libs/share/file/vite.config.ts
  libs/share/integrations/vite.config.ts
  libs/share/shared/vite.config.ts
  libs/ui/core/vite.config.ts
  nx.json
Due: eslint --fix, prettier --write

fix: build
  libs/map/dataset/package.json
  libs/map/dataset/vite.config.ts
Due: eslint --fix, prettier --write

feat: add props show for MouseCoordinatesControl
  libs/map/core/src/modules/MouseCoordinatesControl/MouseCoordinatesControl.vue
  libs/map/core/src/modules/MouseCoordinatesControl/index.md
Due: eslint --fix, prettier --write

fix: build
  libs/map/core/src/store/store.ts
  libs/share/map/src/fillBound/index.spec.ts
Due: eslint --fix, prettier --write

fix: event
  libs/map/core/src/extra/event/model/custom/EventBboxSelect.ts
Due: eslint --fix, prettier --write

chore(release): publish
  libs/map/basemap/CHANGELOG.md
  libs/map/basemap/package.json
  libs/map/core/CHANGELOG.md
  libs/map/core/package.json
  libs/map/draw/CHANGELOG.md
  libs/map/draw/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/map/measurement/CHANGELOG.md
  libs/map/measurement/package.json
  libs/map/print/CHANGELOG.md
  libs/map/print/package.json
  libs/router/CHANGELOG.md
  libs/router/package.json
  libs/share/core/CHANGELOG.md
  libs/share/core/package.json
  libs/share/file/CHANGELOG.md
  libs/share/file/package.json
  libs/share/integrations/CHANGELOG.md
  libs/share/integrations/package.json
  libs/share/map/CHANGELOG.md
  libs/share/map/package.json
  libs/share/shared/CHANGELOG.md
  libs/share/shared/package.json
  libs/ui/core/CHANGELOG.md
  libs/ui/core/package.json
Due: prettier --write

chore(release): publish
  libs/draggable/src/types/vue-draggable-resizable.d.ts
  libs/map/basemap/CHANGELOG.md
  libs/map/basemap/package.json
  libs/map/core/CHANGELOG.md
  libs/map/core/package.json
  libs/map/core/src/field/input-colorPicker.vue
  libs/map/core/src/field/input-textarea.vue
  libs/map/draw/CHANGELOG.md
  libs/map/draw/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/map/measurement/CHANGELOG.md
  libs/map/measurement/package.json
  libs/map/print/CHANGELOG.md
  libs/map/print/package.json
  libs/router/CHANGELOG.md
  libs/router/package.json
  libs/share/core/CHANGELOG.md
  libs/share/core/package.json
  libs/share/file/CHANGELOG.md
  libs/share/file/package.json
  libs/share/integrations/CHANGELOG.md
  libs/share/integrations/package.json
  libs/share/map/CHANGELOG.md
  libs/share/map/package.json
  libs/share/shared/CHANGELOG.md
  libs/share/shared/package.json
  libs/ui/core/CHANGELOG.md
  libs/ui/core/package.json
Due: eslint --fix, prettier --write

build: add cmd
  package.json
Due: prettier --write

feat: change locale
  apps/demo-map/src/views/AllMapView.vue
  libs/map/basemap/src/modules/BaseMapControl.vue
  libs/map/core/src/extra/lang/hook.ts
  libs/map/core/src/extra/lang/store.ts
  libs/map/core/src/modules/CrsControl/CrsControl.vue
  libs/map/core/src/modules/FullScreenControl/FullScreenControl.vue
  libs/map/core/src/modules/GeoLocateControl/GeoLocateControl.vue
  libs/map/core/src/modules/GotoControl/GotoControl.vue
  libs/map/core/src/modules/HomeControl/HomeControl.vue
  libs/map/core/src/modules/SettingControl/SettingControl.vue
  libs/map/core/src/modules/ZoomControl/ZoomControl.vue
  libs/map/layer/src/modules/IdentifyControl/IdentifyControl.vue
  libs/map/layer/src/modules/LayerControl.vue
  libs/map/layer/src/modules/StyleControl/style-control.vue
  libs/map/measurement/src/modules/MeasurementControl.vue
  libs/map/print/src/modules/PrintAdvancedControl.vue
  libs/map/print/src/modules/PrintControl.vue
Due: eslint --fix, prettier --write

feat: add custom locale function
  libs/map/core/src/extra/lang/hook.ts
  libs/map/core/src/extra/lang/store.ts
Due: eslint --fix, prettier --write

fix: measurement alway top
  libs/map/measurement/src/modules/helper/_viewMap.ts
Due: eslint --fix, prettier --write

chore(release): publish
  libs/map/basemap/CHANGELOG.md
  libs/map/basemap/package.json
  libs/map/draw/CHANGELOG.md
  libs/map/draw/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/map/measurement/CHANGELOG.md
  libs/map/measurement/package.json
  libs/map/print/CHANGELOG.md
  libs/map/print/package.json
  libs/share/file/CHANGELOG.md
  libs/share/file/package.json
  libs/share/integrations/CHANGELOG.md
  libs/share/integrations/package.json
  libs/share/map/CHANGELOG.md
  libs/share/map/package.json
Due: prettier --write

chore(release): publish
  CHANGELOG.md
  libs/content-menu/CHANGELOG.md
  libs/draggable/CHANGELOG.md
  libs/map/basemap/CHANGELOG.md
  libs/map/basemap/package.json
  libs/map/core/CHANGELOG.md
  libs/map/draw/CHANGELOG.md
  libs/map/draw/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/map/measurement/CHANGELOG.md
  libs/map/measurement/package.json
  libs/map/print/CHANGELOG.md
  libs/map/print/package.json
  libs/router/CHANGELOG.md
  libs/share/core/CHANGELOG.md
  libs/share/file/CHANGELOG.md
  libs/share/file/package.json
  libs/share/integrations/CHANGELOG.md
  libs/share/integrations/package.json
  libs/share/map/CHANGELOG.md
  libs/share/map/package.json
  libs/share/shared/CHANGELOG.md
  libs/ui/core/CHANGELOG.md
Due: prettier --write

chore(release): publish
  libs/content-menu/CHANGELOG.md
  libs/content-menu/package.json
  libs/draggable/CHANGELOG.md
  libs/draggable/package.json
  libs/map/basemap/CHANGELOG.md
  libs/map/basemap/package.json
  libs/map/core/CHANGELOG.md
  libs/map/core/package.json
  libs/map/draw/CHANGELOG.md
  libs/map/draw/package.json
  libs/map/layer/CHANGELOG.md
  libs/map/layer/package.json
  libs/map/measurement/CHANGELOG.md
  libs/map/measurement/package.json
  libs/map/print/CHANGELOG.md
  libs/map/print/package.json
  libs/router/CHANGELOG.md
  libs/router/package.json
  libs/share/core/CHANGELOG.md
  libs/share/core/package.json
  libs/share/file/CHANGELOG.md
  libs/share/file/package.json
  libs/share/integrations/CHANGELOG.md
  libs/share/integrations/package.json
  libs/share/map/CHANGELOG.md
  libs/share/map/package.json
  libs/share/shared/CHANGELOG.md
  libs/share/shared/package.json
  libs/ui/core/CHANGELOG.md
  libs/ui/core/package.json
Due: prettier --write

build: fix get version
  nx.json
Due: prettier --write

feat: add legend
  apps/demo-map/src/views/test.vue
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/model/part-list-view-ui.model.ts
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
  libs/map/dataset/src/modules/Legend/index.ts
  libs/map/dataset/src/modules/Legend/parts/linear-gradient.vue
  libs/map/dataset/src/modules/Legend/parts/single-color.vue
  libs/map/dataset/src/modules/Legend/parts/single-value.vue
  libs/map/dataset/src/modules/index.ts
Due: eslint --fix, prettier --write

feat: add layer info
  apps/demo-map/src/views/test.vue
  libs/map/dataset/src/modules/LayerControl/LayerInfoControl.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerListReadonly.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
  libs/map/dataset/src/modules/index.ts
Due: eslint --fix, prettier --write

feat: add readonly
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list-group.vue
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list-readonly.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerListReadonly.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
Due: eslint --fix, prettier --write

fix: group
  apps/demo-map/src/views/test.vue
  libs/map/dataset/package.json
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list-group.vue
  libs/map/dataset/src/modules/LayerControl/part/DraggableList/draggable-list.vue
  libs/map/dataset/vite.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: type
  libs/map/dataset/src/interfaces/dataset.base.ts
  libs/map/dataset/src/interfaces/dataset.handler.ts
  libs/map/dataset/src/interfaces/dataset.map.ts
  libs/map/dataset/src/interfaces/dataset.parts.ts
  libs/map/dataset/src/interfaces/dataset.visitor.ts
  libs/map/dataset/src/model/dataset.base.ts
  libs/map/dataset/src/model/dataset.handler.ts
  libs/map/dataset/src/model/dataset.visitors.ts
  libs/map/dataset/src/model/index.ts
  libs/map/dataset/src/model/part-data-management,model.ts
  libs/map/dataset/src/model/part-identify.model.ts
  libs/map/dataset/src/model/part-list-view-ui.model.ts
  libs/map/dataset/src/model/part-mapbox-layer.model.ts
  libs/map/dataset/src/model/part-mapbox-source.model.ts
  libs/map/dataset/src/model/part-metadata.model.ts
  libs/map/dataset/src/modules/IdentifyControl/IdentifyControl.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-divider.vue
  libs/map/dataset/src/modules/IdentifyControl/menu/menu-item.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerList.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerListReadonly.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item.vue
  libs/map/dataset/src/modules/LayerHighlight/LayerHighlight.vue
  libs/map/dataset/src/parts/dataset.handlers.ts
  libs/map/dataset/src/store/component.ts
  libs/map/dataset/src/store/highlight.ts
  libs/map/dataset/src/store/index.ts
  libs/map/dataset/src/types/vue-icon.d.ts
  libs/map/dataset/src/utils/check.ts
  libs/map/dataset/src/utils/layer-simple-builder.ts
Due: eslint --fix, prettier --write

feat: recursive list
  apps/demo-map/src/views/test.vue
  libs/map/dataset/src/modules/LayerControl/part/LayerListReadonly.vue
  libs/map/dataset/src/modules/LayerControl/part/item/layer-item-slider.vue
  libs/map/dataset/src/modules/List/ListGroupItem.vue
  libs/map/dataset/src/modules/List/ListItem.vue
  libs/map/dataset/src/modules/List/RecursiveList.vue
  libs/map/dataset/src/modules/index.ts
  libs/map/dataset/src/utils/tree.ts
Due: eslint --fix, prettier --write
